<%= render 'shared/header'%>
<div class="about-main">
  <div class="about-content">
    <h2 class="about">About Us</h2>
    <p class="about-message">
      こんにちは、”WinGs”代表の伊藤瑞基です。<br>
      "WinGs"はWebサイト制作、Webライティングを主に扱います。<br>
      ブログ制作代行も承っております。<br>
      お気軽にご連絡ください。
    </p>
    <p class="port-btn">
      <%= link_to 'Portfolio', portfolio_path, class:"btn btn-outline-primary"%>
    </p>
  </div>
</div>
<%= render 'shared/footer'%>