<%= render 'shared/header'%>
<div class="main">
  <div class="main-content">
    <h1 class="index-philosophy">夢を形に、想いを届ける</h1>
    <p class="index-message top">
      <b>Webサイト制作グループ”WinGs”へようこそ。</b>
    </p>
    <p class="index-message second">
      素敵なアイディア、想い、夢<br>
      皆様の理想を人々に発信する。<br>
      それが我々の使命であり存在意義です。
    </p>
  </div>
  
</div>
<%= render 'shared/footer'%>
