<div class="footer-bar">
  <%= image_tag 'logo.png', class:"footer-logo", alt:"WinGs"%>
  <div class="footer-right">
    <%= link_to "お問い合わせ", new_contact_path, class:"link-secondary footer-contact" %>
    <%= link_to "運営ポリシー", policy_path, class:"link-secondary footer-policy"%>
    <p class="copy-right">2022 ©︎ WinGs</p>
  </div>
</div>