.contact-main {
  margin: 0 80px 0 80px;
  padding-top: 20px;

  .contact-mt {
    margin-top: 50px;
  }

  .contact-st {
    font-size: 12px;
  }

  #form-mini {
    width: 50%;
  }

  #form-mes {
    width: 70%;
  }

  #contact-btn {
    margin: 20px -0.75rem;
  }

}