.header-main {
  box-shadow: 0 0 20px 0 rgba( 0, 0, 0, .3);
}

.header-bar {
  display: flex;
  justify-content: space-between;
  // background-color:burlywood;
  height: 120px;
  max-width: 960px;
  margin-left: auto ;
  margin-right: auto;
  padding: 0 20px;
  

  .wings-logo {
    width: 132px;
    height: 102px;
    // background-color: antiquewhite;
    margin: 9px 0 ;
    
  }
  
  .header-menu {
    display: flex;
    justify-content:space-between;
    // background-color: gray;

    .menu {
      margin: auto 10px;
    }
  }

}